PORT=3000
SALT_ROUNDS=10
JWT_SECRET=SUPERSECRET

# Mailer:
# Для тестирования можно использовать: https://ethereal.email/
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=florencio.vonrueden74@ethereal.email
SMTP_PASSWORD=5UxsMSQGsU6Dtp5D39

# Страницы восстановления забытого пароля
PASSWORD_FORGOT_PAGE=http://localhost:3000/forgot
PASSWORD_RECOVERY_PAGE=http://localhost:3000/reset-password

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=MIIEvgIBAQCKjSfF1VWe

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://postgres:postgres@localhost:6500/only-hrm?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600

# Swagger Configuration
SWAGGER_ENABLED=true
SWAGGER_PATH=api/v1/docs
SWAGGER_TITLE=Only HRM - RESTFUL API
SWAGGER_DESCRIPTION=Comprehensive API documentation for the system
SWAGGER_VERSION=1.0.0
SWAGGER_PROJECT_REPO=https://repo.only.com
SWAGGER_PROJECT_WIKI=https://wiki.only.com

SWAGGER_SERVER_DEV=http://localhost:3000
SWAGGER_SERVER_STAGE=https://stage.example.com
SWAGGER_SERVER_PROD=https://example.com
